<div class=container>

  <div>
    <h1><%= @article.title %>
        <%= link_to "", edit_article_path(@article), class:"link-no-underline fa fa-pencil fa-2xs" %>
        <%= link_to article_path(@article), class:"link-no-underline", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can fa-2xs"></i>
        <% end %>
    </h1>
  </div>

  <div class="alert alert-secondary" role="alert">

    <div>
      <p class="fs-4"><%= @article.content %></p>
      <p class="text-end fs-6 fst-italic">created : <%=@article.created_at %> - update at: <%=@article.updated_at %></p>
    </div>

  </div>

  <div>
    <%= link_to " back to articles", articles_path, class:"fa-solid fa-circle-left fa xs link-no-underline" %>
  </div>

</div>
